@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>SmartHub for Singapore</h1>
        <h3 class="alert alert-light">
            SmartHub is a free online web application which is utilized by 16 million users to learn and avail the services provided as part of the Healthcare and Sanitation initiative.
        </h3>
        <a href="~/Home/About" class="btn btn btn-success btn-lg active" role="button" aria-pressed="true">Click Here for More Info...</a>
    </div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Images/TalktoSomeone1.png" width="200" height="200" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">Talk to Someone</h2>
            <p class="card-text" align="justify">
                The Smart Center is a one central location to access all the
                information and services related to Healthacare of citizens and
                Sanitation for any locality in the country. <br />
                Please feel free to contact our department for any inquiries by cliking the below button.
            </p>
            <p class="card-text"><a href="~/Home/Contact" class="btn btn btn-success btn-lg active" role="button" aria-pressed="true">Click Here to Reach Us</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="~/Images/OnlineServices.png" width="200" height="200" alt="Card image cap">
            <h2 class="card-title">Online Services</h2>
            <p class="card-text" align="justify">
                SmartHub Application offers information about many services perfromed at the Smart Center
                and also some tools which will augment the processessing of certain queries.<br />
                To learn about various services offered at the center and online tools, click the below button.
            </p>
            <p><a href="~/Home/CenterInfo" class="btn btn btn-success btn-lg active" role="button" aria-pressed="true">Click Here for More Info</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="~/Images/OnlineRegistration.png" width="200" height="200" alt="Card image cap">
            <h2 class="card-title">Online Registration</h2>
            <p class="card-text" align="justify">
                SmartHub Tool is being enhanced to maintain personalized records of individuals. <br />
                An individual can register and login to their own account to view and maintain record of their information and past inquiries.
            </p>
            <h2 class="lead">Coming Soon...</h2>
        </div>
    </div>
</div>