<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LookUpService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51371/PatientLookUp1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LookUpService"
                contract="PatientLookUp1.LookUpService" name="BasicHttpBinding_LookUpService" />
        </client>
    </system.serviceModel>
</configuration>